*{
  margin: 0px;
  font-family: sans-serif;
}
body {
  background-image: url("../img/lightning.png");
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: rgb(49, 145, 39);
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

ul.topnav li a:hover {background-color: lightgray;}

ul.topnav li.icon {display: none;}

/* ====Index content===== */
.instructions {
  font-family: sans-serif;
  text-align: center;
}

/* ====Form:======= */
form {
  text-align: center;
}

/*#entryID {
  align-items: center;
}*/


/*About Us Section*/

.aboutpics{
  height: 300px;
  width: 300px;
}
.abparagraph{
  height: 300px;
  width: 400px;
  text-align: center;

}
.aboutdiv{
  background-color: purple;
  width: 100%;
  height: 350px
  border: 9px solid green;

}

/* ==========Footer=============  */
footer {
  text-align: center;
  clear: left;
}
