* {
  margin: 0px;
}


/*========================================INDEX.HTML===============================================*/

.instructions {
  font-family: sans-serif;
  text-align: center;
}

.indexPic {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: : 40px;
}

.instructions p {
  margin: 30px;
  text-align: left;
  position: relative;
  left: 170px;
}

.indexMain {
  width: 950px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}

#entryID {
  position: relative;
  left: 120px;
  margin: 50px;
}

#main {
  height: 900px;
}

#headerIndex {
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

#indexLabel {
  display: inline;
}


/*========================================INDEX.HTML===============================================*/


/*=============================Navigation bar for all pages==========================================*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: rgb(49, 145, 39);
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

ul.topnav li a:hover {
  background-color: lightgray;
}


/*-----------------------------------------About Us Section-----------------------------------*/

.picbox {
  width: 350px;
  height: 100%;
  float: left;
  position: relative;
  left: 110px;
  top: 24px;
}

.parabox {
  background-color: rgb(228, 228, 228);
  width: 540px;
  height: 100%;
  float: right;
}

.aboutpics {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.abparagraph {
  font-size: 18px;
  width: 430px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#rami {
  position: relative;
  top: 100px;
}

#sugey {
  position: relative;
  top: 100px;
}

#abritni {
  position: relative;
  top: 40px;
}

#sugeyID {
  margin-bottom: 40px;
}

.aboutdiv {
  background-color: rgba(49, 145, 39, 0.4);
  width: 950px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
  animation: fadeIn 6.0s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*--------------------------scoreboard-----------------------------*/

#scoremain {
  height: 800px;
  /*padding-bottom: 30px;*/
}

#showScore {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding-top: 200px;
  height: 386px;
  width: 600px;
}

#showScore h1 {
  color: black;
  font-family: 'Gochi Hand', cursive;
  font-size: 50px;
}

#whiteboardbox {
  background-image: url('../img/whiteboard.jpg');
  height: 486px;
  width: 700px;
  /*border: 4px solid purple;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-size: contain;
  margin-top: 80px;
  margin-bottom: 50px;
}

#whiteboardbox img {
  height: 200px;
  width: 400px;
}


/*//=============================GAME.HTML=========================================*/

body {
  /*background: url('http://cdn.wallpapersafari.com/39/79/rTJv8l.jpeg') no-repeat center center fixed;*/
  background-color: rgba(133, 205, 89, 0.4);
  overflow-x: hidden;
}

#imageContainer {
  margin-left: 10%;
  margin-right: 10%;
}

#gameQuiz {
  text-align: center;
  margin: 80px 0;
  font-family: 'Raleway', sans-serif;
  animation: roll 3s;
}

#quiz {
  width: 1000px;
  height: 500px;
  background-color: #cdcbcb;
  margin: auto;
}

#img1, #img2, #img3 {
  width: 30%;
  height: 300px;
  margin: 10px;
  border-radius: 30px;
  transition: 0.5s;
  margin-bottom: 60px;
}

#img1:hover, #img2:hover, #img3:hover {
  transform: scale(0.9);
  transition: 0.5s;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(30deg);
  }
  66% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0);
  }
}

#reset {
  font-size: 25px;
  background-color: #eb2a2a;
  padding: 10px;
  color: white;
  position: relative;
  left: 48%;
  margin: 30px 0;
}

#submit {
  font-size: 25px;
  background-color: #32a62f;
  padding: 10px;
  color: white;
  position: relative;
  left: 100px;
  top: 15px;
}

label {
  display: block;
  font-size: 19px;
  font-family: 'Comfortaa', cursive;
  padding: 10px;
}

input {
  position: relative;
  width: 300px;
  margin: 10px 5px;
}

footer {
  position: relative;
  left: 45%;
  margin: 30px;
}

#myTopnav {
  position: relative;
  left: 33%;
  margin: 30px;
}


/*//=============================GAME.HTML=========================================*/
